<section>
  <header>
    практика: переведите слово
    <hr />
  </header>
  <main>
        <span>
          <strong>яблоко</strong>

        </span>
  </main>
  <hr />
  <footer>
    <form>
      <div class="list">
        <input matInput type="text" placeholder="введите перевод слова">
      </div>
      <div class="list">
        <button

          mat-stroked-button
          class="btn-rep"
          >Результат
        </button>
      </div>
      <div class="list">
        <button

          mat-stroked-button
          class="btn-next"
        >Следующее слово
        </button>
      </div>
    </form>
  </footer>
</section>
