section {
  border: 1px solid #ccc;
  margin: auto;
  margin-top: 10px;
  padding: 1rem;
  width: 80%;
}
header {
  margin-bottom: 1rem;
}
input {
  width: 100%;
  display: flex;
  padding: 12px 20px;
  margin: 2px;
  box-sizing: border-box;
  border: 1px solid #ccc;
}

.btn-start {
  width: 100%;
  color: green;
  margin: 2px;
}
.btn-answer {
  width: 100%;
  color: blue;
  margin: 2px;
}
.btn-stop {
  width: 100%;
  color: red;
  margin: 2px;
}
span {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5rem 1rem;
  border: 1px solid #ccc;
  margin-bottom: .5rem;
}
span .btn-del {
  color: green;
}
.task {
  justify-content: space-between;
  align-items: center;
  padding: .5rem 1rem;
  border: 1px solid #ccc;
  margin-bottom: .5rem;
}
.list {
  display: flex;
}
mat-form-field {
  margin: 2px;
  width: 100%;
}
